link(rel='stylesheet', type='text/css', href='/style/lol_items.styl')
  
div.main
  div.banner
    div.champ
      img(src='/images/leagueoflegends/champs/#{image}.png')
      div.name
        h3 #{champ_name}
      div.position
        h4 #{role}
        
    div.logo
      img(src='/images/leagueoflegends/logo.png')
  
  div.title
    h2 ITEMS

  div.items
    div.item-left
      img(src='/images/leagueoflegends/items/#{items[0]}.png')
      div.item-priority
        span First
      div.item-name
        h4 #{names[0]}
    
    div.item-right
      img(src='/images/leagueoflegends/items/#{items[1]}.png')
      div.item-priority
        span Second
      div.item-name
        h4 #{names[1]}

    div.item-left
      img(src='/images/leagueoflegends/items/#{items[2]}.png')
      div.item-priority
        span Third
      div.item-name
        h4 #{names[2]}
    
    div.item-right
      img(src='/images/leagueoflegends/items/#{items[3]}.png')
      div.item-priority
        span Fourth
      div.item-name
        h4 #{names[3]}
    
    div.item-left
      img(src='/images/leagueoflegends/items/#{items[4]}.png')
      div.item-priority
        span Fifth
      div.item-name
        h4 #{names[4]}
    
    div.item-right
      img(src='/images/leagueoflegends/items/#{items[5]}.png')
      div.item-priority
        span Sixth
      div.item-name
        h4 #{names[5]}
