link(rel='stylesheet', type='text/css', href='/style/lol_items.styl')
  
div.main
  div.banner
    div.champ
      img(src='/images/leagueoflegends/champs/#{image}')
      ul
        li.name #{champ_name}
        li #{role}
        
    div.logo
      img(src='/images/leagueoflegends/logo_small.png')
        
  div.title
    h2 ITEMS
  
  div.items
    div.item
      img(src='/images/leagueoflegends/items/#{items[0]}.png')
      ul
        li.position First
        li.name #{names[0]}
    
    div.item
      img(src='/images/leagueoflegends/items/#{items[1]}.png')
      ul
        li.position Second
        li.name #{names[1]}
  
    div.item
      img(src='/images/leagueoflegends/items/#{items[2]}.png')
      ul
        li.position Third
        li.name #{names[2]}  
    
    div.item
      img(src='/images/leagueoflegends/items/#{items[3]}.png')
      ul
        li.position Fourth
        li.name #{names[3]}
      
    div.item
      img(src='/images/leagueoflegends/items/#{items[4]}.png')
      ul
        li.position Fifth
        li.name #{names[4]}  
  
    div.item
      img(src='/images/leagueoflegends/items/#{items[5]}.png')
      ul
        li.position Sixth
        li.name #{names[5]}
      
