link(rel='stylesheet', type='text/css', href='/style/lol_counters.styl')
  
div.main
  div.banner
    div.champ
      img(src='/images/leagueoflegends/champs/#{image}')
      ul
        li.name #{name}
        li #{position}
        
    div.logo
      img(src='/images/leagueoflegends/logo_small.png')
  
  div.title
    h2 COUNTERS
  
  div.counters
    each counter in counters
      div.counter
        img(src='/images/leagueoflegends/champs/#{counter.image}.png')
        div.position
          span #{counter.position}
        ul
          li.name #{counter.key}
          li Winrate: #{counter.winRate}%
          li Games: #{counter.games}
